body {
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  margin-bottom: 5px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

/* Style the header buttons */
.header-buttons a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-weight: bold;
  transition: color 0.3s;
}

.header-buttons a:hover {
  color: #007bff;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #0056b3;
}

/* Product list styles */
ul {
  list-style: none;
  padding: 0;
}

/* Search bar styles */
input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.filter-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.filter-options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

/* Media query for smaller screens */
@media (max-width: 370px) {
  .filter-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .filter-options {
    flex-direction: column;
  }
}

/* Product details styles */
.product-details {
  margin-top: auto;
}

/* product-list styles */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* product items styles */
.product-item {
  flex: 0 1 calc(25% - 20px);
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
}

.product-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.product-image {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}

@media (min-width: 1024px) {
  .product-item {
    flex-basis: calc(30.33% - 20px);
  }
}

@media (max-width: 768px) {
  .product-item {
    flex-basis: calc(50% - 50px);
  }
}

@media (max-width: 470px) {
  .product-item {
    flex-basis: calc(50% - 20px);
  }

  .product-list {
    justify-content: center;
  }
}

.product-des {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: '1px solid grey'
}

/* Add to Cart button styles */
.add-to-cart-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
  color: #fff;
}

/* BAck to Home button styles */
.back-to-home-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.back-to-home-button:hover {
  background-color: #0056b3;
  color: #fff;
}

/* Style the select elements */
.select-box {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  color: #333;
  transition: border-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.select-box:hover {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.select-box::-ms-expand {
  display: none;
}